@model TranTinh_3282_W3.Models.Category  
@using Microsoft.AspNetCore.Mvc.Rendering  

@{  
    ViewData["Title"] = "Tạo Danh Mục";  
}  

<form asp-action="Add" method="post">  
    <div class="form-group mb-3">  
        <label asp-for="Name" class="form-label"></label>  
        <input asp-for="Name" class="form-control" />  
        <span asp-validation-for="Name" class="text-danger"></span>  
    </div>  
    <button type="submit" class="btn btn-primary">Thêm</button>  
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>  
</form>  

@section Scripts {  
    <partial name="_ValidationScriptsPartial" />  
}